.text-left {text-align: left;}
.text-right {text-align: right;}
.text-center {text-align: center;}
.text-justify {text-align: justify;}
.text-nowrap {white-space: nowrap;}
.italic {font-style: italic;}
body {-webkit-font-smoothing: antialiased;
  color: #555555;
  font-size: 16px;
  font-weight: 400;
  line-height: 2.2;
  text-rendering: optimizeLegibility;
  font-family: 'Raleway', sans-serif;}
h1,h2,h3,h4,h5,h6 {font-weight: 400;
  line-height: 1.6;
  color: #333333;
  font-family: 'Montserrat', sans-serif;
  letter-spacing: 0.05em;}
h1 {font-size: 36px;}
h2 {font-size: 28px;}
h3 {font-size: 21px;}
h4 {font-size: 18px;}
h5 {font-size: 14px;}
h6 {font-size: 11px;}
h1,h2,h3,h4,h5,h6,
p {margin-bottom: 25px;
  margin-top: 0;}
h1.smb,h2.smb,h3.smb,h4.smb,h5.smb,h6.smb,
p.smb {margin-bottom: 10px;}
h1.nmb,h2.nmb,h3.nmb,h4.nmb,h5.nmb,h6.nmb,
p.nmb {margin-bottom: 0;}
::-moz-selection {background-color: #4682B4;
  color: #ffffff;}
::selection {background-color: #4682B4;
  color: #ffffff;}
*:focus {outline: none;}
.border-bottom {
  border-bottom: solid 1px #eeeeee;
}
.overlay {
  background-color: transparent;
  z-index: 512;
  position: absolute;
  -webkit-transition: all 0.4s ease-in-out;
          transition: all 0.4s ease-in-out;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
}
.cell-vertical-wrapper {
  display: table;
  height: 100%;
  width: 100%;
}
.cell-vertical-wrapper .cell-middle {
  display: table-cell;
  vertical-align: middle;
}
.cell-vertical-wrapper .cell-bottom {
  display: table-cell;
  vertical-align: bottom;
}
a,
a:hover,
a:focus,
a:active,
a.active {
  color: inherit;
  outline: none;
  text-decoration: none;
  -webkit-transition: all 0.4s ease-in-out;
          transition: all 0.4s ease-in-out;
}
ul {
  margin: 0;
  padding: 0;
}
ul li {
  list-style: none;
  margin: 0;
  padding: 0;
}
body {
  position: relative;
  overflow-x: hidden;
}
html {
  overflow-x: hidden;
}
/* Section */
main:after {
  clear: both;
}
main:before,
main:after {
  content: " ";
  display: table;
}
main:after {
  clear: both;
}
main:before,
main:after {
  content: " ";
  display: table;
}
section {
  position: relative;
  padding-top: 75px;
  padding-bottom: 35px;
}
section:after {
  clear: both;
}
section:before,
section:after {
  content: " ";
  display: table;
}
section:after {
  clear: both;
}
section:before,
section:after {
  content: " ";
  display: table;
}
section .section-header {
  margin-bottom: 35px;
}
section .section-header:after {
  clear: both;
}
section .section-header:before,
section .section-header:after {
  content: " ";
  display: table;
}
section .section-header:after {
  clear: both;
}
section .section-header:before,
section .section-header:after {
  content: " ";
  display: table;
}
section .section-block {
  margin-bottom: 40px;
}
section .section-block:after {
  clear: both;
}
section .section-block:before,
section .section-block:after {
  content: " ";
  display: table;
}
section .section-block:after {
  clear: both;
}
section .section-block:before,
section .section-block:after {
  content: " ";
  display: table;
}
section .section-block-p {
  margin-bottom: 15px;
}
section .section-block-p:after {
  clear: both;
}
section .section-block-p:before,
section .section-block-p:after {
  content: " ";
  display: table;
}
section .section-block-p:after {
  clear: both;
}
section .section-block-p:before,
section .section-block-p:after {
  content: " ";
  display: table;
}
section.one-child {
  padding-bottom: 75px;
}
section.no-padding {
  padding-top: 0 !important;
  padding-bottom: 0 !important;
}
section.min-padding {
  padding-top: 50px!important;
  padding-bottom: 0!important;
}
section.no-padding-bottom {
  padding-bottom: 0!important;
}
section.no-padding-bottom .section-block:last-of-type,
section.no-padding-bottom .section-block-p:last-of-type {
  margin-bottom: 0!important;
}
section.no-padding-top {
  padding-top: 0!important;
}
section.large-space {
  padding-top: 130px;
  padding-bottom: 1px;
}
section.large-space .section-header {
  margin-bottom: 40px;
}
section.large-space.one-child {
  padding-bottom: 105px;
}
.header-type-2 .header-caption {
  display: block;
  font-style: normal;
  font-family: 'Montserrat', serif;
  font-size: 16px;
  margin-bottom: 45px;
}
.header-type-2.style-1 .header-caption {
  max-width: 800px;
}
.header-type-2.style-2 .header-caption {
  font-size: 18px;
  color: #7b7b7b;
}
input:not([type="submit"]):not([type="checkbox"]),
textarea {
  border: 1px solid #dddddd;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-size: 12px;
  line-height: 16px;
  outline: none;
  padding: 13px;
  -webkit-transition: all 0.4s ease-in-out;
          transition: all 0.4s ease-in-out;
  font-family: 'Raleway', sans-serif;
}
input:not([type="submit"]):not([type="checkbox"]):focus,
textarea:focus {
  border-color: #4682B4;
}
input:-webkit-autofill {
  background-color: red !important;
}
/* Button */
.border-btn {
  background-color: transparent;
  border-style: solid;
  border-width: 1px;
  display: inline-block;
  font-size: 10px;
  letter-spacing: 2px;
  line-height: 1.6;
  outline: none;
  -webkit-transition: all 0.4s ease-in-out;
          transition: all 0.4s ease-in-out;
  font-family: 'Montserrat', sans-serif;
  letter-spacing: 0.05em;
}
.normal-btn {
  border: 0;
  display: inline-block;
  font-size: 10px;
  letter-spacing: 2px;
  line-height: 1.6;
  outline: none;
  -webkit-transition: all 0.4s ease-in-out;
          transition: all 0.4s ease-in-out;
  font-family: 'Montserrat', sans-serif;
  letter-spacing: 0.05em;
  color: #ffffff;
}
.normal-btn.btn-size-5 {
  padding: 14px 38px;
}
.normal-btn.normal-btn-main {
  background-color: #4682B4;
}
.normal-btn.normal-btn-main:hover,
.normal-btn.normal-btn-main:focus {
  background-color: #333333;
  color: #ffffff;
}
nav:after {
  clear: both;
}
nav:before,
nav:after {
  content: " ";
  display: table;
}
nav:after {
  clear: both;
}
nav:before,
nav:after {
  content: " ";
  display: table;
}
.nav-main-menu:after {
  clear: both;
}
.nav-main-menu:before,
.nav-main-menu:after {
  content: " ";
  display: table;
}
.nav-main-menu:after {
  clear: both;
}
.nav-main-menu:before,
.nav-main-menu:after {
  content: " ";
  display: table;
}
.nav-main-menu a {
  font-family: 'Montserrat', sans-serif;
  letter-spacing: 0.1em;
  cursor: pointer;
}
.nav-main-menu:not(.left-menu) a {
  font-size: 13px;
}
.nav-main-menu a._pending {
  font-style: italic;
  line-height: 24px;
  font-family: 'Raleway', sans-serif;
  font-size: 13px;
}
@media only screen and (min-width: 992px ) {
  .nav-main-menu.small-screen {
    display: none;
  }
  .nav-main-menu:not(.left-menu) {
    height: 100%;
  }
  .nav-main-menu:not(.left-menu) > li {
    height: 100%;
    float: left;
  }
  .nav-main-menu:not(.left-menu) > li > a {
    padding-right: 30px;
    padding-left: 30px;
    display: inline-block;
  }
  .nav-main-menu:not(.left-menu) > li.division {
    position: relative;
    width: 1px;
  }
  .nav-main-menu:not(.left-menu) > li.division span {
    width: 100%;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    margin-top: auto;
    margin-bottom: auto;
  }
  .nav-main-menu:not(.left-menu) > .sub-menu {
    position: relative;
  }
  .nav-main-menu:not(.left-menu) > .sub-menu.mega-menu,
  .nav-main-menu:not(.left-menu) > .sub-menu.menu-tabs {
    position: static;
  }
  .nav-main-menu:not(.left-menu) > .sub-menu > a:after {
    font-family: "wolverine";
    content: ":";
    position: absolute;
    font-size: 15px;
  }
  .nav-main-menu:not(.left-menu) > .sub-menu ul {
    background-color: #000000;
  }
  .nav-main-menu:not(.left-menu) > .sub-menu ul > li > a {
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 8px;
    padding-bottom: 8px;
    display: block;
    color: #cccccc;
  }
  .nav-main-menu:not(.left-menu) > .sub-menu ul > li:not(.menu-title):hover > a {
    background-color: #1B1B1B;
    color: #4682B4;
  }
  .nav-main-menu:not(.left-menu) > .sub-menu > ul {
    display: none;
    position: absolute;
    top: 100%;
    padding-top: 10px;
    padding-bottom: 20px;
    min-width: 220px;
    border-bottom: 2px solid #4682B4;
  }
  .nav-main-menu:not(.left-menu) > .sub-menu:not(.mega-menu) li.current-menu-item > a {
    color: #4682B4;
  }
  .nav-main-menu:not(.left-menu) > .sub-menu .sub-menu {
    position: relative;
  }
  .nav-main-menu:not(.left-menu) > .sub-menu .sub-menu > a {
    position: relative;
    padding-right: 25px;
  }
  .nav-main-menu:not(.left-menu) > .sub-menu .sub-menu > a:after {
    position: absolute;
    font-family: "wolverine";
    content: "\e07f";
    top: 0;
    right: 10px;
    bottom: 0;
    font-size: 15px;
    height: 15px;
    width: 15px;
    line-height: 1;
    margin-top: auto;
    margin-bottom: auto;
  }
  .nav-main-menu:not(.left-menu) > .sub-menu .sub-menu > ul {
    display: none;
    padding-top: 10px;
    padding-bottom: 10px;
    position: absolute;
    left: 100%;
    top: -10px;
    min-width: 220px;
    border: 1px solid #111;
  }
  .nav-main-menu:not(.left-menu) > .sub-menu .sub-menu:hover > ul {
    display: block;
    -webkit-animation: fadeIn 0.7s;
            animation: fadeIn 0.7s;
  }
  .nav-main-menu:not(.left-menu) > .sub-menu:hover > ul {
    display: block;
    -webkit-animation: fadeIn 0.7s;
            animation: fadeIn 0.7s;
  }
  .nav-main-menu:not(.left-menu) > .sub-menu.mega-menu .mega-menu-content {
    width: 100%;
  }
  .nav-main-menu:not(.left-menu) > .sub-menu.mega-menu .mega-menu-content > li {
    float: left;
    min-width: 180px;
  }
  .nav-main-menu:not(.left-menu) > .sub-menu.mega-menu .mega-menu-content > li > a {
    display: none;
  }
  .nav-main-menu:not(.left-menu) > .sub-menu.mega-menu .mega-menu-content > li.menu-title > a {
    display: block;
    font-size: 14px;
    padding-bottom: 0;
    margin-bottom: 15px;
  }
  .nav-main-menu:not(.left-menu) > .sub-menu.mega-menu .mega-menu-content > li.menu-title > a:after {
    border-bottom: 2px solid transparent;
    content: "";
    display: block;
    position: relative;
    margin-top: 5px;
    width: 40px;
  }
  .nav-main-menu:not(.left-menu) > .sub-menu.mega-menu .mega-menu-content > li.menu-title > a:after {
    -webkit-transition: all 0.4s ease-in-out;
            transition: all 0.4s ease-in-out;
  }
  .nav-main-menu:not(.left-menu) > .sub-menu.mega-menu .mega-menu-content > li.menu-title:hover > a {
    color: #eeeeee;
    background-color: transparent;
  }
  .nav-main-menu:not(.left-menu) > .sub-menu.mega-menu .mega-menu-content > li.menu-title:hover > a:after {
    border-color: #4682B4;
  }
  .nav-main-menu:not(.left-menu) > .sub-menu.mega-menu.menu-4-col .mega-menu-content > li {
    width: 25%;
  }
  .nav-main-menu:not(.left-menu) > .sub-menu.mega-menu.menu-5-col .mega-menu-content > li {
    width: 20%;
  }
  .nav-main-menu:not(.left-menu) > .sub-menu.mega-menu li.current-menu-item.menu-title > a:after {
    border-top-color: #4682B4;
  }
  .nav-main-menu:not(.left-menu) > .sub-menu.mega-menu li.current-menu-item:not(.menu-title) > a {
    color: #4682B4;
  }
  .nav-main-menu:not(.left-menu).style-2 > .sub-menu ul {
    background-color: #ffffff;
  }
  .nav-main-menu:not(.left-menu).style-2 > .sub-menu ul > li > a {
    color: #333333;
  }
  .nav-main-menu:not(.left-menu).style-2 > .sub-menu ul > li:not(.menu-title) > a {
    border-top: 1px solid transparent;
    border-bottom: 1px solid transparent;
  }
  .nav-main-menu:not(.left-menu).style-2 > .sub-menu ul > li:not(.menu-title):hover > a {
    background-color: #F0F0F0;
    color: #4682B4;
    border-top: 1px solid #BBB;
    border-bottom: 1px solid #BBB;
  }
  .nav-main-menu:not(.left-menu).style-2 > .sub-menu > ul {
    border: 1px solid #999;
    border-bottom: 3px solid #4682B4;
  }
  .nav-main-menu:not(.left-menu).style-2 > .sub-menu .sub-menu > ul {
    border: 1px solid #999;
    border-bottom: 3px solid #4682B4;
  }
  .nav-main-menu:not(.left-menu).style-2 > .sub-menu.mega-menu .mega-menu-content > li > ul > li > a {
    border: 1px solid transparent;
  }
  .nav-main-menu:not(.left-menu).style-2 > .sub-menu.mega-menu .mega-menu-content > li.menu-title:hover > a {
    color: #333333;
  }
}
@media (max-width: 991px ) {
  .nav-main-menu:not(.small-screen) {
    display: none;
  }
  .nav-main-menu.small-screen {
    -webkit-transition: all 0.4s ease-in-out;
            transition: all 0.4s ease-in-out;
    position: absolute;
    top: 100%;
    width: 250px;
    right: 0;
    overflow: auto;
    background-color: #222222;
  }
  .nav-main-menu.small-screen a {
    color: #eeeeee;
    display: block;
    padding-top: 10px;
    padding-left: 20px;
    padding-bottom: 10px;
    padding-right: 20px;
  }
  .nav-main-menu.small-screen a:hover {
    color: #4682B4;
  }
  .nav-main-menu.small-screen li {
    display: block;
  }
  .nav-main-menu.small-screen li.current-menu-item > a {
    color: #4682B4;
  }
  .nav-main-menu.small-screen > li {
    border-bottom: 1px solid #0F0F0F;
  }
  .nav-main-menu.small-screen > li > a:not(.menu-trigger):hover,
  .nav-main-menu.small-screen > li > a.menu-trigger {
    background-color: #1B1B1B;
  }
  .nav-main-menu.small-screen > li.menu-dropdown > ul {
    background-color: #333333;
  }
  .nav-main-menu.small-screen > li.menu-dropdown > ul:before {
    border-top-color: #1B1B1B;
  }
  .nav-main-menu.small-screen > li.menu-dropdown > ul > li:not(:last-of-type) {
    border-bottom: 1px solid #0F0F0F;
  }
  .nav-main-menu.small-screen > li.menu-dropdown > ul > li > a:not(.menu-trigger):hover,
  .nav-main-menu.small-screen > li.menu-dropdown > ul > li > a.menu-trigger {
    background-color: #292929;
  }
  .nav-main-menu.small-screen > li.menu-dropdown > ul > li.menu-dropdown > ul {
    background-color: #444444;
  }
  .nav-main-menu.small-screen > li.menu-dropdown > ul > li.menu-dropdown > ul:before {
    border-top-color: #292929;
  }
  .nav-main-menu.small-screen > li.menu-dropdown > ul > li.menu-dropdown > ul > li:not(:last-of-type) {
    border-bottom: 1px solid #0F0F0F;
  }
  .nav-main-menu.small-screen > li.menu-dropdown > ul > li.menu-dropdown > ul > li > a:not(.menu-trigger):hover {
    background-color: #383838;
  }
  .nav-main-menu.small-screen .menu-dropdown > a {
    position: relative;
    padding-right: 25px;
  }
  .nav-main-menu.small-screen .menu-dropdown > a:after {
    -webkit-transition: -webkit-transform 0.4s ease-in-out;
            transition: transform 0.4s ease-in-out;
    position: absolute;
    font-family: "wolverine";
    content: "\e07f";
    top: 0;
    right: 10px;
    bottom: 0;
    font-size: 15px;
    height: 15px;
    width: 15px;
    line-height: 1;
    margin-top: auto;
    margin-bottom: auto;
    -webkit-transform: rotate(0deg);
        -ms-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  .nav-main-menu.small-screen .menu-dropdown > a.menu-trigger:after {
    -webkit-transform: rotate(90deg);
        -ms-transform: rotate(90deg);
            transform: rotate(90deg);
  }
  .nav-main-menu.small-screen .menu-dropdown > a:hover {
    color: #4682B4;
  }
  .nav-main-menu.small-screen .menu-dropdown > ul {
    position: relative;
  }
  .nav-main-menu.small-screen .menu-dropdown > ul:before {
    content: "";
    display: block;
    border-left: solid 6px transparent;
    border-right: solid 6px transparent;
    border-top: solid 6px;
    position: absolute;
    top: 0;
    left: 20px;
    z-index: 1;
  }
  .nav-main-menu.small-screen.style-2 {
    -webkit-transition: all 0.4s ease-in-out;
            transition: all 0.4s ease-in-out;
    background-color: #ffffff;
  }
  .nav-main-menu.small-screen.style-2 a {
    color: #333333;
  }
  .nav-main-menu.small-screen.style-2 a:hover {
    color: #4682B4;
  }
  .nav-main-menu.small-screen.style-2 > li {
    border-bottom: 1px solid #BBB;
  }
  .nav-main-menu.small-screen.style-2 > li > a:not(.menu-trigger):hover,
  .nav-main-menu.small-screen.style-2 > li > a.menu-trigger {
    background-color: #F1F1F1;
  }
  .nav-main-menu.small-screen.style-2 > li.menu-dropdown > ul {
    background-color: #E5E5E5;
  }
  .nav-main-menu.small-screen.style-2 > li.menu-dropdown > ul:before {
    border-top-color: #F1F1F1;
  }
  .nav-main-menu.small-screen.style-2 > li.menu-dropdown > ul > li:not(:last-of-type) {
    border-bottom: 1px solid #BBB;
  }
  .nav-main-menu.small-screen.style-2 > li.menu-dropdown > ul > li > a:not(.menu-trigger):hover,
  .nav-main-menu.small-screen.style-2 > li.menu-dropdown > ul > li > a.menu-trigger {
    background-color: #DDD;
  }
  .nav-main-menu.small-screen.style-2 > li.menu-dropdown > ul > li.menu-dropdown > ul {
    background-color: #D2D2D2;
  }
  .nav-main-menu.small-screen.style-2 > li.menu-dropdown > ul > li.menu-dropdown > ul:before {
    border-top-color: #DDD;
  }
  .nav-main-menu.small-screen.style-2 > li.menu-dropdown > ul > li.menu-dropdown > ul > li:not(:last-of-type) {
    border-bottom: 1px solid #BBB;
  }
  .nav-main-menu.small-screen.style-2 > li.menu-dropdown > ul > li.menu-dropdown > ul > li > a:not(.menu-trigger):hover {
    background-color: #CCC;
  }
  .nav-main-menu.small-screen.style-2 .menu-dropdown > a:hover {
    color: #4682B4;
  }
}
.main-nav-wrapper {
  -webkit-transition: height 0.4s ease-in-out;
          transition: height 0.4s ease-in-out;
  position: relative;
  z-index: 1500;
  top: 0;
  left: 0;
  width: 100%;
}
.main-nav-wrapper:after {
  clear: both;
}
.main-nav-wrapper:before,
.main-nav-wrapper:after {
  content: " ";
  display: table;
}
.main-nav-wrapper:after {
  clear: both;
}
.main-nav-wrapper:before,
.main-nav-wrapper:after {
  content: " ";
  display: table;
}
.main-nav-wrapper nav {
  top: 0;
  left: 0;
  z-index: 1500;
  width: 100%;
  -webkit-transition: all 0.4s ease-in-out;
          transition: all 0.4s ease-in-out;
}
@media (max-width: 991px ) {
  .main-nav-wrapper {
    height: 60px;
  }
}
.main-nav {
  -webkit-transition: all 0.4s ease-in-out;
          transition: all 0.4s ease-in-out;
  position: relative;
  width: 100%;
}
.main-nav .container {
  height: 100%;
}
.main-nav .nav-logo {
  -webkit-transition: all 0.4s ease-in-out;
          transition: all 0.4s ease-in-out;
  float: left;
  height: 100%;
  position: relative;
}
.main-nav .nav-logo img {
  -webkit-transition: all 0.4s ease-in-out;
          transition: all 0.4s ease-in-out;
  position: absolute;
  width: 100%;
  margin: auto;
  display: block;
  bottom: 0;
  left: 0;
  right: 0;
  top: 0;
}
.main-nav .nav-hamburger-special-wrapper,
.main-nav .nav-hamburger-wrapper {
  height: 100%;
}
.main-nav .nav-hamburger,
.main-nav .nav-hamburger-special {
  -webkit-transition: all 0.4s ease-in-out;
          transition: all 0.4s ease-in-out;
  display: block;
  position: relative;
  background: transparent;
  border: 0;
  padding: 0;
  outline: none;
  cursor: pointer;
  margin-top: auto;
  margin-bottom: auto;
  width: 22px;
  height: 14px;
}
.main-nav .nav-hamburger::before,
.main-nav .nav-hamburger-special::before,
.main-nav .nav-hamburger::after,
.main-nav .nav-hamburger-special::after,
.main-nav .nav-hamburger span,
.main-nav .nav-hamburger-special span {
  -webkit-transition: all 0.4s ease-in-out;
          transition: all 0.4s ease-in-out;
  background-color: #333333;
}
.main-nav .nav-hamburger::before,
.main-nav .nav-hamburger-special::before,
.main-nav .nav-hamburger::after,
.main-nav .nav-hamburger-special::after {
  content: '';
  position: absolute;
  top: 0;
  height: 2px;
  width: 100%;
  left: 0;
  top: 50%;
  -webkit-transform-origin: 50% 50%;
      -ms-transform-origin: 50% 50%;
          transform-origin: 50% 50%;
}
.main-nav .nav-hamburger span,
.main-nav .nav-hamburger-special span {
  position: absolute;
  width: 100%;
  height: 2px;
  left: 0;
  top: 50%;
  overflow: hidden;
  text-indent: 200%;
}
.main-nav .nav-hamburger::before,
.main-nav .nav-hamburger-special::before {
  -webkit-transform: translate3d(0, -7px, 0);
          transform: translate3d(0, -7px, 0);
}
.main-nav .nav-hamburger::after,
.main-nav .nav-hamburger-special::after {
  -webkit-transform: translate3d(0, 7px, 0);
          transform: translate3d(0, 7px, 0);
}
.main-nav .nav-hamburger-special {
  width: 26px;
  height: 16px;
}
@media only screen and (min-width: 992px ) {
  .main-nav .nav-hamburger-wrapper {
    display: none;
  }
}
@media (max-width: 991px ) {
  .main-nav {
    height: 60px;
  }
  .main-nav .nav-hamburger-special-wrapper {
    display: none;
  }
  .main-nav .nav-main-menu.small-screen {
    right: -250px;
  }
  .main-nav.main-menu-opened .nav-main-menu.small-screen {
    right: 0;
  }
  .main-nav.main-menu-opened .nav-hamburger span {
    opacity: 0;
  }
  .main-nav.main-menu-opened .nav-hamburger::before {
    -webkit-transform: rotate3d(0, 0, 1, 45deg);
            transform: rotate3d(0, 0, 1, 45deg);
  }
  .main-nav.main-menu-opened .nav-hamburger::after {
    -webkit-transform: rotate3d(0, 0, 1, -45deg);
            transform: rotate3d(0, 0, 1, -45deg);
  }
}
.main-nav-1 .nav-main-menu,
.main-nav-1 .nav-hamburger-wrapper {
  float: right;
}
@media only screen and (min-width: 992px ) {
  .main-nav-1 .container {
    position: relative;
  }
  .main-nav-1 .nav-logo.logo-2 {
    display: none;
  }
  .main-nav-1 .nav-main-menu > .sub-menu > ul {
    left: -15px;
  }
  .main-nav-1 .nav-main-menu > .sub-menu.mega-menu > ul,
  .main-nav-1 .nav-main-menu > .sub-menu.menu-tabs > ul {
    left: auto;
    right: 0;
  }
}
@media (max-width: 991px ) {
  .main-nav-1 .nav-logo {
    width: 100px;
    line-height: 60px;
  }
  .main-nav-1:not(.type-3) .nav-logo:not(.logo-2) {
    display: none;
  }
}
@media only screen and (min-width: 992px ) {
  .main-nav-wrapper.nav-wrapper-1-1 {
    height: 120px;
  }
}
.main-nav-1.type-1 {
  background-color: #ffffff;
}
.main-nav-1.type-1.style-2 {
  background-color: #eeeeee;
}
@media only screen and (min-width: 992px ) {
  .main-nav-1.type-1 {
    height: 120px;
  }
  .main-nav-1.type-1 .nav-logo {
    line-height: 120px;
    width: 170px;
  }
  .main-nav-1.type-1 .nav-logo img {
    max-height: 90px;
  }
  .main-nav-1.type-1 .nav-main-menu > li > a {
    color: #333333;
    line-height: 120px;
  }
  .main-nav-1.type-1 .nav-main-menu > li:hover > a,
  .main-nav-1.type-1 .nav-main-menu > li.current-menu-item > a {
    color: #4682B4;
  }
}
@media (max-width: 991px ) {
  .main-nav-1.type-1 .nav-logo {
    width: 100px;
  }
}
.main-nav-left-wrapper {
  position: fixed;
  left: 0;
  min-width: 260px;
  overflow: auto;
  top: 0;
  height: 100vh;
  -webkit-box-shadow: inset -5px 0px 10px -5px rgba(0, 0, 0, 0.3);
          box-shadow: inset -5px 0px 10px -5px rgba(0, 0, 0, 0.3);
}
.nav-main-menu.left-menu {
  position: relative;
  width: 100%;
  background-color: #ffffff;
}
.nav-main-menu.left-menu li {
  display: block;
}
.nav-main-menu.left-menu li a {
  color: #333333;
  display: block;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-right: 20px;
}
.nav-main-menu.left-menu li:hover > a,
.nav-main-menu.left-menu li.current-menu-item > a {
  color: #4682B4;
}
.nav-main-menu.left-menu > li > a {
  font-size: 13px;
  font-weight: bold;
  padding-left: 20px;
}
.nav-main-menu.left-menu > li.menu-dropdown > ul > li > a {
  font-size: 12px;
  padding-left: 30px;
}
.nav-main-menu.left-menu > li.menu-dropdown > ul > li.menu-dropdown > ul > li > a {
  font-size: 11px;
  padding-left: 40px;
}
.nav-main-menu.left-menu .menu-dropdown > a {
  position: relative;
  padding-right: 25px;
}
.nav-main-menu.left-menu .menu-dropdown > a:after {
  -webkit-transition: -webkit-transform 0.4s ease-in-out;
          transition: transform 0.4s ease-in-out;
  position: absolute;
  font-family: "wolverine";
  content: "\e07f";
  top: 0;
  right: 10px;
  bottom: 0;
  font-size: 15px;
  height: 15px;
  width: 15px;
  line-height: 1;
  margin-top: auto;
  margin-bottom: auto;
  -webkit-transform: rotate(0deg);
      -ms-transform: rotate(0deg);
          transform: rotate(0deg);
}
.nav-main-menu.left-menu .menu-dropdown > a.menu-trigger:after {
  -webkit-transform: rotate(90deg);
      -ms-transform: rotate(90deg);
          transform: rotate(90deg);
}
.nav-main-menu.left-menu .menu-dropdown > a:hover {
  color: #4682B4;
}
.main-nav-left {
  padding-top: 90px;
  width: 250px;
  margin-left: auto;
  margin-right: auto;
}
.main-nav-left:after {
  clear: both;
}
.main-nav-left:before,
.main-nav-left:after {
  content: " ";
  display: table;
}
.main-nav-left:after {
  clear: both;
}
.main-nav-left:before,
.main-nav-left:after {
  content: " ";
  display: table;
}
.main-nav-left .nav-logo {
  margin-bottom: 70px;
  width: 100%;
}
.main-nav-left .nav-logo img {
  width: 150px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.main-nav-left .nav-main-menu {
  margin-bottom: 12px;
}
@media only screen and (min-width: 992px ) {
  .main-nav-left .container {
    position: relative;
  }
}
@media (max-width: 991px ) {
  .main-nav-left {
    background-color: #EEE;
  }
  .main-nav-left .nav-logo {
    line-height: 60px;
  }
  .main-nav-left .nav-top-search .search-trigger-show {
    margin-left: 15px;
  }
}
body.left-menu .main-nav-wrapper {
  display: none;
}
@media (min-width: 1300px) {
  body.left-menu {
    padding-left: 270px;
  }
  body.left-menu .main-nav-left-wrapper {
    width: 270px;
  }
  body.left-menu .container {
    max-width: 1200px;
    width: 100%;
  }
}
@media (min-width: 1400px) {
  body.left-menu {
    padding-left: 320px;
  }
  body.left-menu .main-nav-left-wrapper {
    width: 320px;
  }
}
@media (max-width: 1299px) {
  body.left-menu .main-nav-left-wrapper {
    display: none;
  }
  body.left-menu .main-nav-wrapper {
    display: block;
  }
}
@media (max-width: 767px ) {
  .before-main-nav,
  .after-main-nav {
    display: none;
  }
}
/* Header */
header:after {
  clear: both;
}
header:before,
header:after {
  content: " ";
  display: table;
}
header:after {
  clear: both;
}
header:before,
header:after {
  content: " ";
  display: table;
}
header.site-header {
  position: relative;
}
.caption-slider .caption-hide {
  opacity: 0;
  visibility: hidden;
}
.home-fw-slider .slick-dots li {
  cursor: pointer;
  height: 8px;
  padding: 0;
  width: 8px;
}
.home-fw-slider .slick-dots li button:before {
  border-radius: 50%;
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
  -webkit-transition: all 0.4s ease-in-out;
          transition: all 0.4s ease-in-out;
}
.home-fw-slider .slick-next {
  right: 30px;
  text-align: right;
}
.home-fw-slider .slick-next:before {
  content: "\e07e";
  margin-right: 7px;
}
.home-fw-slider .slick-prev {
  left: 30px;
  text-align: left;
}
.home-fw-slider .slick-prev:before {
  content: "\e031";
  margin-left: 7px;
}
.home-fw-slider .slick-prev,
.home-fw-slider .slick-next {
  border: 2px solid;
  border-radius: 50%;
  height: 40px;
  margin-top: -20px;
  opacity: 0.6;
  top: 50%;
  width: 40px;
  z-index: 10;
  -webkit-transition: all 0.4s ease-in-out;
          transition: all 0.4s ease-in-out;
}
.home-fw-slider .slick-prev:before,
.home-fw-slider .slick-next:before {
  font-size: 19px;
  font-family: "wolverine";
}
.home-fw-slider .slick-prev:hover,
.home-fw-slider .slick-next:hover {
  opacity: 1;
}
.home-fw-slider .slick-prev,
.home-fw-slider .slick-next {
  border-color: #ffffff;
}
.home-fw-slider .slick-prev:before,
.home-fw-slider .slick-next:before {
  color: #ffffff;
}
.home-fw-slider.style-3 .item-image {
  background-position: center bottom;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
  min-height: 590px;
  position: relative;
}
.home-fw-slider.style-3 .item-image .caption-wrapper .heading-icon-1 {
  margin-bottom: 10px;
  -webkit-transition: all 0.4s ease-in-out;
          transition: all 0.4s ease-in-out;
}
.home-fw-slider.style-3 .item-image .caption-wrapper .heading-icon-1:before {
  color: #ffffff;
  content: "\e2d0";
  display: block;
  font-size: 120px;
  font-weight: 400;
  line-height: 1;
  -webkit-transition: all 0.4s ease-in-out;
          transition: all 0.4s ease-in-out;
  font-family: "wolverine";
}
.home-fw-slider.style-3 .item-image .caption-wrapper h1 {
  font-size: 72px;
  font-weight: 700;
  line-height: 1.2;
  margin-bottom: 0;
  color: #ffffff;
}
.home-fw-slider.style-3 .item-image .caption-wrapper p {
  font-size: 23px;
  letter-spacing: 3px;
  line-height: 1.6;
  margin-bottom: 0;
  margin-top: 35px;
  color: #ffffff;
}
.home-fw-slider.style-3 .item-image .overlay {
  background-color: rgba(51, 51, 51, 0.3);
  z-index: 512;
  position: absolute;
  -webkit-transition: all 0.4s ease-in-out;
          transition: all 0.4s ease-in-out;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
}
.home-fw-slider.style-3 .slick-dots {
  bottom: 20px;
  width: 100%;
}
.home-fw-slider.style-3 .slick-dots li {
  display: inline-block;
}
.home-fw-slider.style-3 .slick-dots li.slick-active button:before {
  opacity: 1;
}
.home-fw-slider.style-3 .slick-dots li:not(:last-of-type) {
  margin-right: 10px;
}
.home-fw-slider.style-3 .slick-dots li button:before {
  background-color: #333333;
  opacity: 0.5;
}
.home-fw-slider.style-3 .slick-dots li button:hover:before {
  opacity: 1;
}
@media (max-width: 991px ) {
  .home-fw-slider.style-3 .item-image .caption-wrapper h1 {
    font-size: 50px;
  }
  .home-fw-slider.style-3 .item-image .caption-wrapper p {
    font-size: 16px;
    margin-top: 20px;
  }
}
@media (max-width: 767px ) {
  .home-fw-slider.style-3 .item-image {
    min-height: 500px;
  }
  .home-fw-slider.style-3 .item-image .caption-wrapper h1 {
    font-size: 40px;
  }
}
@media (max-width: 500px) {
  .home-fw-slider.style-3 .item-image {
    max-height: 650px;
    min-height: 470px;
  }
  .home-fw-slider.style-3 .item-image .caption-wrapper .heading-icon-1:before {
    font-size: 70px;
  }
  .home-fw-slider.style-3 .item-image .caption-wrapper h1 {
    font-size: 30px;
  }
  .home-fw-slider.style-3 .item-image .caption-wrapper p {
    display: none;
  }
  .home-fw-slider.style-3 .slick-dots {
    visibility: hidden;
  }
  .home-fw-slider.style-3 .slick-prev,
  .home-fw-slider.style-3 .slick-next {
    visibility: hidden;
  }
}
body.corporate-page .main-nav-wrapper.nav-wrapper-1-1 {
  position: static;
  height: 0;
}
body.corporate-page .main-nav-wrapper.nav-wrapper-1-1 nav {
  position: absolute;
}
body.corporate-page header.site-header {
  padding-top: 120px;
  height: 100vh;
  max-height: 900px;
  min-height: 590px;
}
body.corporate-page header.site-header .home-fw-slider.style-3 {
  height: 100%;
}
@media (max-width: 991px ) {
  body.corporate-page header.site-header {
    padding-top: 60px;
  }
}
@media (max-width: 500px) {
  body.corporate-page header.site-header {
    max-height: 650px;
  }
}

.main-nav-wrapper nav {
  -webkit-transition: all 0.4s ease-in-out;
          transition: all 0.4s ease-in-out;
}
.main-nav-wrapper.sticky-nav nav {
  position: fixed !important;
}
.main-nav-wrapper.sticky-nav:not(.nav-wrapper-3) nav {
  -webkit-box-shadow: 0px 5px 10px -5px rgba(0, 0, 0, 0.3);
          box-shadow: 0px 5px 10px -5px rgba(0, 0, 0, 0.3);
}
@media only screen and (min-width: 992px ) {
  .main-nav-wrapper.nav-wrapper-1-1.sticky-nav {
    height: 60px;
  }
}
@media only screen and (min-width: 992px ) {
  .main-nav-wrapper.nav-wrapper-1-1.sticky-nav .main-nav-1.type-1 {
    background-color: #f4f4f4;
    height: 60px;
  }
  .main-nav-wrapper.nav-wrapper-1-1.sticky-nav .main-nav-1.type-1 .nav-logo {
    line-height: 60px;
    width: 100px;
  }
  .main-nav-wrapper.nav-wrapper-1-1.sticky-nav .main-nav-1.type-1 .nav-logo:not(.logo-2) {
    display: none;
  }
  .main-nav-wrapper.nav-wrapper-1-1.sticky-nav .main-nav-1.type-1 .nav-logo.logo-2 {
    display: block;
  }
  .main-nav-wrapper.nav-wrapper-1-1.sticky-nav .main-nav-1.type-1 .nav-logo img {
    max-height: 50px;
  }
  .main-nav-wrapper.nav-wrapper-1-1.sticky-nav .main-nav-1.type-1 .nav-top-search {
    line-height: 60px;
  }
  .main-nav-wrapper.nav-wrapper-1-1.sticky-nav .main-nav-1.type-1 .nav-main-menu > li > a {
    color: #333333;
    line-height: 60px;
  }
  .main-nav-wrapper.nav-wrapper-1-1.sticky-nav .main-nav-1.type-1 .nav-main-menu > li:hover > a,
  .main-nav-wrapper.nav-wrapper-1-1.sticky-nav .main-nav-1.type-1 .nav-main-menu > li.current-menu-item > a {
    color: #4682B4;
  }
}
.service-section-03 .block-service-style-03 i {
  -webkit-transition: all 0.4s ease-in-out;
          transition: all 0.4s ease-in-out;
  font-size: 52px;
  display: block;
  margin-bottom: -25px;
  color: #808080;
}
.service-section-03 .block-service-style-03 h5 {
  margin-bottom: 30px;
}
.service-section-03 .block-service-style-03 .heading-hr-2:after {
  -webkit-transition: all 0.4s ease-in-out;
          transition: all 0.4s ease-in-out;
  border-color: #808080;
  height: 2px;
  margin-top: 24px;
}
.service-section-03 .block-service-style-03 a:hover .heading-hr-2:after {
  border-color: #4682B4;
  background-color: #4682B4;
}
.service-section-03 .block-service-style-03 a:hover i {
  color: #4682B4;
}
.about-item-01 {
  margin: 0 auto;
  max-width: 375px;
}
.about-item-01:hover h4 {
  color: #4682B4;
  -webkit-transition: all 0.4s ease-in-out;
          transition: all 0.4s ease-in-out;
}
.about-item-01:hover h6 {
  color: #333333;
  -webkit-transition: all 0.4s ease-in-out;
          transition: all 0.4s ease-in-out;
}
.about-item-01 h4 {
  font-size: 16px;
}
.about-item-01 h6 {
  margin: 25px 0 15px;
  font-size: 13px;
  color: #4682B4;
  -webkit-transition: all 0.4s ease-in-out;
          transition: all 0.4s ease-in-out;
}
.about-item-01 img {
  max-width: 100%;
  -webkit-transition: all 0.4s ease-in-out;
          transition: all 0.4s ease-in-out;
}
.widget {
  margin-bottom: 20px;
}
.widget h5 {
  margin-bottom: 30px;
}
/* Contact */
.contact-us :-moz-placeholder {
  /* Mozilla Firefox 4 to 18 */
  color: #777777;
  opacity: 1;
}
.contact-us :-ms-input-placeholder {
  /* Internet Explorer 10+ */
  color: #777777;
}
.contact-us ::-moz-placeholder {
  /* Mozilla Firefox 19+ */
  color: #777777;
  opacity: 1;
}
.contact-us ::-webkit-input-placeholder {
  /* WebKit browsers */
  color: #777777;
}
.contact-us .msg {
  background: 0;
  color: #999999;
  height: 164px;
  outline-color: #4682B4;
  padding-left: 12px;
  resize: none;
  width: 100%;
}
.contact-us a {
  float: right;
  margin-top: 25px;
}
.contact-us input,
.contact-us textarea {
  color: #777777;
  display: block;
  margin-bottom: 25px;
  width: 100%;
  background: transparent;
}
.page-contact .map-iframe {
  margin-bottom: 15px;
  width: 100%;
  height: 457px;
  border: #eeeeee;
}
.page-contact .social-03 {
  line-height: 1;
  text-align: center;
}
.page-contact .social-03 li {
  display: inline-block;
}
.page-contact .social-03 li a {
  display: inline-block;
  color: #999999;
}
.page-contact .social-03 li a i:before {
  font-size: 13px;
  margin-right: 10px;
  vertical-align: middle;
  font-family: FontAwesome;
}
.page-contact .social-03 li a i {
  color: #9c5b57;
  font-size: 13px;
}
.page-contact .social-03 li:last-of-type {
  border-right: none;
}
.page-contact .social-03 li {
  padding: 0 10px;
  border-right: 1px solid #dddddd;
}
.page-contact h3 {
  margin-bottom: 50px;
}
.page-contact h5 {
  color: #9c5b57;
  margin-bottom: 10px;
}
footer:after {
  clear: both;
}
footer:before,
footer:after {
  content: " ";
  display: table;
}
footer:after {
  clear: both;
}
footer:before,
footer:after {
  content: " ";
  display: table;
}
.footer-preset-03 {
  background-color: #333333;
}
.footer-preset-03 .footer-foot {
  background-color: transparent;
}
.footer-preset-03 .footer-preset-wrapper {
  border-color: #555555;
}
.footer-preset-03 .footer-preset-wrapper h5 {
  color: #ffffff;
}
.footer-preset-03 p {
  color: #999999;
}
.footer-foot {
  padding: 20px 0;
  background-color: #f4f4f4;
  border-style: solid;
  border-width: 1px;
  border-color: transparent;
}
.footer-foot p {
  font-size: 11px;
  font-weight: 500;
  margin: 0;
  font-family: 'Montserrat', sans-serif;
  letter-spacing: 0.05em;
}
.footer-foot-border {
  padding: 20px 0;
  border-top: 1px solid #999999;
  border: 1px solid #dddddd;
  font-family: 'Montserrat', sans-serif;
  letter-spacing: 0.05em;
  background-color: #f4f4f4;
}
.footer-foot-border p {
  font-size: 11px;
  font-weight: 500;
  margin: 0;
}
.message p {
  position: relative;
  padding: 5px 20px 5px 50px;
  font-weight: 600;
  margin-bottom: 0;
}
.message p:before {
  font-family: "wolverine";
  position: absolute;
  top: 50%;
  left: 0px;
  display: inline-block;
  width: 50px;
  text-align: center;
  font-size: 19px;
  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%);
}
.message p a {
  position: absolute;
  top: 50%;
  right: 12px;
  font-weight: 800;
  font-size: 17px;
  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%);
}
.message.notice p {
  border: 1px solid #eeeeee;
}
.message.notice p:before {
  content: "\e048";
}
.message.error p {
  color: #ffffff;
  background-color: #9c5b57;
}
.message.error p:before {
  font-family: FontAwesome;
  content: "\f06a";
}
.message.warning p {
  color: #9c5b57;
  border: 1px solid #cccccc;
  background-color: #eeeeee;
}
.message.warning p:before {
  content: "\i";
}
.message.success p {
  border: 1px solid #cccccc;
  background-color: #eeeeee;
}
.message.success p:before {
  content: "\W";
}